* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

html,
body {
  overflow: hidden;
}

@font-face {
  font-family: "Helvetica Ultra Compressed";
  src: url("./../../fonts/Helvetica-UltraCompressed.otf") format("opentype");
}

@font-face {
  font-family: "Bahnschrift";
  src: url("./../../fonts/BAHNSCHRIFT.TTF") format("ttf");
}

@font-face {
  font-family: "Bonida";
  src: url("./../../fonts/Bonida-vmmYA.ttf") format("ttf");
}

.homePage-container {
  background: rgb(213, 239, 229);
  background: linear-gradient(
    21deg,
    rgba(213, 239, 229, 1) 3%,
    rgba(125, 151, 160, 1) 39%,
    rgba(4, 30, 66, 1) 89%
  );

  background-size: 350% 350%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  overflow: hidden;
  animation: gradientAnimation 20s ease infinite;
  border: 1px solid #c3e8da;
}

@keyframes gradientAnimation {
  0% {
    background-position: 10% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 10% 50%;
  }
}

.header-homePage {
  padding-left: 10vh;
  align-self: stretch;
  height: 10vh;
  display: flex;
  flex-direction: row;
  /* border-bottom: 0.2px solid #c3e8da; */
}

#loadingPill {
  width: 9vh;
  height: 9vh;
  align-self: center;
}

#loadingPill rect {
  stroke-dasharray: 230px;
  stroke-dashoffset: 5550px;
  animation: loadPillAnimation-stroke 5s forwards infinite;
}

@keyframes loadPillAnimation-stroke {
  to {
    stroke-dashoffset: 1px;
  }
}

.mainText {
  font-size: 1.5vh;
  font-family: "Bahnschrift";
  font-weight: lighter;
  letter-spacing: 2px;
  color: #c3e8da;
  padding-left: 3vh;
  align-self: center;
}

.main-container-homePage {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
}

.sidebar-homePage {
  order: 1;
  flex: 2 1 auto;
  align-self: auto;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-end;
  justify-items: center;
  margin: 0;
  padding: 0;
  width: 40vh;
}

.tagLine {
  width: 23vh;
  display: block;
  height: auto;
  font-size: 1.4vh;
  font-weight: lighter;
  font-stretch: semi-condensed;
  letter-spacing: 2px;
  font-family: "Bahnschrift";
  color: whitesmoke;
  margin-left: 10vh;

  align-self: flex-start;
  padding-top: 12vh;
}

.sidebar-line {
  position: relative;
  display: block;
  width: 1px;
  border-left: 0.5px solid orange;
  margin: 0;
  height: 50vh;
  left: -18vh;
  bottom: -24.5vh;
  transform: rotate(45deg);
}

.body-homePage {
  order: 2;
  flex: 1 1 auto;
  align-self: auto;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  justify-items: stretch;
  padding: 0;
  width: 30vh;
}

.bodyText-container {
  order: 1;
  flex: 2 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  justify-items: end;

  width: 45vh;
}

.bodyText {
  width: 13vh;
  font-size: 2.3vh;
  font-weight: lighter;
  font-stretch: semi-condensed;
  letter-spacing: 2px;
  text-align: right;
  font-family: "Bahnschrift";
  color: #c3e8da;
  -webkit-font-smoothing: antialiased;
  -webkit-transform: translate3d(0, 0, 0) !important;
  transform: translate3d(0, 0, 0) !important;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  align-self: center;
  padding-top: 25vh;
}

.bodyTitle-container {
  order: 2;
  padding-top: 13vh;
  flex: 1 0 auto;
  display: flex;

  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-items: center;

  width: 15vh;
}

.mountain {
  position: absolute;
  height: 25vh;
  width: 130vh;
  align-self: flex-end;
  bottom: -5px;
  z-index: 10;
}
.bodyTitle {
  display: inline;
  font-size: 30vh;
  font-weight: normal;
  font-family: "Helvetica Ultra Compressed";
  background: rgb(244, 255, 250);
  background: linear-gradient(
    51deg,
    rgba(244, 255, 250, 1) 0%,
    rgba(213, 239, 229, 1) 41%
  );
  margin-top: -14vh;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-font-smoothing: antialiased;
  -webkit-transform: translate3d(0, 0, 0) !important;
  transform: translate3d(0, 0, 0) !important;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  align-self: center;
}

.baybayinText-container {
  order: 3;
  flex: 2 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  justify-items: flex-start;
  padding-left: 5px;
  width: 45vh;
}

#baybayin {
  position: relative;
  top: 17vh;
  height: auto;
  width: 3vh;
}
#baybayin path {
  fill: #c3e8da;
}
#baybayin line {
  stroke: #c3e8da;
}
.showImage {
  position: relative;
}

.showImage img {
  display: block;
  max-width: 80vh;
  left: 40px;
}

.menu-homePage {
  order: 3;
  flex: 2 0 auto;
  align-self: auto;
  width: 40vh;

  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0;
}

/* #menu-line {
  order: 0;
  position: relative;
  top: 0;
} */

.menu-line {
  position: relative;
  display: block;
  width: 1px;
  border-left: 0.5px solid #c3e8da;
  margin: 0;
  top: -20vh;
  right: 26vh;
  transform: rotate(45deg);
}

.button {
  position: absolute;
  display: block;
  width: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 15vh;
  right: 9vh;
}

.button2 {
  position: absolute;
  display: block;
  width: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 22vh;
  right: 16.8vh;
}

.button3 {
  position: absolute;
  display: block;
  width: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 29vh;
  right: 24vh;
}

.button4 {
  position: absolute;
  display: block;
  width: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 36vh;
  right: 31.7vh;
}

.button5 {
  position: absolute;
  display: block;
  width: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 43vh;
  right: 34.8vh;
}

.changeBg {
  height: 4.5vh;
  width: 4.5vh;
  background: rgb(138, 124, 147);
  background: linear-gradient(
    306deg,
    rgba(138, 124, 147, 1) 13%,
    rgba(239, 144, 76, 1) 74%,
    rgba(225, 82, 38, 1) 100%
  );

  border-radius: 100px;
}

.sectionTitle {
  font-family: "Bahnschrift";
  font-size: 1.5vh;
  color: #c3e8da;
  font-weight: lighter;
  font-stretch: semi-condensed;
  letter-spacing: 1px;
}

/* #circles {
  position: relative;
} */

.clouds {
  position: absolute;
  top: 0;
  left: 0;
  width: 500%;
  height: 100%;
  overflow: hidden;
}

.clouds img {
  position: absolute;
  bottom: 0;
  max-width: 10%;
}

.clouds img:nth-child(1) {
  position: absolute;
  left: 50vh;
  animation: cloudsAnimation 25s linear infinite;
}
.clouds img:nth-child(2) {
  position: absolute;
  left: 90vh;
  animation: cloudsAnimation 30s linear infinite;
  z-index: 99;
}
.clouds img:nth-child(3) {
  position: absolute;
  left: 100vh;
  animation: cloudsAnimation 40s linear infinite;
  z-index: 99;
}
.clouds img:nth-child(4) {
  position: absolute;
  left: 150vh;
  transform: translateX(60%);
  animation: cloudsAnimation 45s linear infinite;
  z-index: 99;
}
.clouds img:nth-child(5) {
  position: absolute;
  left: 190vh;
  transform: translateX(80%);
  animation: cloudsAnimation 35s linear infinite;
  z-index: 99;
}
.clouds img:nth-child(6) {
  animation: cloudsAnimation 25s linear infinite;
}
.clouds img:nth-child(7) {
  animation: cloudsAnimation 30s linear infinite;
  z-index: 99;
}
.clouds img:nth-child(8) {
  animation: cloudsAnimation 40s linear infinite;
  z-index: 99;
}
.clouds img:nth-child(9) {
  transform: translateX(60%);
  animation: cloudsAnimation 45s linear infinite;
  z-index: 99;
}
.clouds img:nth-child(10) {
  transform: translateX(80%);
  animation: cloudsAnimation 35s linear infinite;
  z-index: 99;
}

@keyframes cloudsAnimation {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(200%);
  }
}
